@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Open Sans';
}

.styled-input {
	@apply dark:text-gray-200 text-gray-600 placeholder-gray-400 p-3 font-normal text-lg dark:bg-gray-900 border-2
	dark:border-gray-800 dark:hover:border-gray-600 hover:border-gray-400 outline-none transition-all rounded-lg w-96 dark:focus:border-purple-400 focus:border-purple-400;
}

.icon-group {
	@apply flex gap-6 p-3 items-center;
}